    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>关于公司</h2>
              <br/>
                <p>生产对（间、邻）苯二胺，其延伸产品是重要的化工原料中间体，广泛用于有机合成、染料、医药、显色剂、环氧树脂固化剂和石油添加剂、橡胶防老剂、合成耐高温的芳香聚酰胺树脂和阻燃纤维。</p>
                <p>项目建设地定远县炉桥镇盐化工业园。</p>
                <p><a data-toggle="collapse" data-target="#company_info" class="company_info" style="cursor: pointer"><span class="glyphicon glyphicon-collapse-down"></span> 了解更多</a></p>
                <div id="company_info" class="collapse">
                  <p>
                    安徽高盛化工股份有限公司是一家新组建的新型高科技化工企业，6000t/a加氢对（间、邻）苯二胺项目计划总投资10126.9万元，其中固定资产投资9824.6万元，铺底流动资金302.3万元；达产年总产值20400万元，年利税5883.2万元。
                  </p>
                  <p>
                    6000t/a加氢对（间、邻）苯二胺项目计划用地50亩，总建筑面积20700m2，其中新建厂房8700 m2，新建库房6400 m2，办公及辅助用房5600 m2，劳动定员116人。
                  </p>
                  <p>
                    对（间、邻）苯二胺及其延伸产品是重要的化工原料中间体，广泛用于有机合成、染料、医药、显色剂、环氧树脂固化剂和石油添加剂、橡胶防老剂、合成耐高温的芳香聚酰胺树脂和阻燃纤维，在染料工业用于制造颜料黄110、硫化淡黄GC，可合成二偶氮缩合颜料PR166、绿色硫化染料和毛皮染料（毛皮黑D）；在合成树脂方面，用作合成芳纶13的原料；在橡胶防老剂方面，用于合成防老剂DNP和DBPB；还可用于环氧树脂固化剂、石油添加剂、碳黑处理剂、绝缘纸处理、阻燃剂。
                  </p>

                </div>


              </div>
        </div>
    </section>
