    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>关于公司</h2>
              <br/>
                <p>安徽高盛化工股份有限公司是一家新组建的新型高科技化工企业。</p>
                <p>生产对（间、邻）苯二胺，其延伸产品是重要的化工原料中间体，广泛用于有机合成、染料、医药、显色剂、环氧树脂固化剂和石油添加剂、橡胶防老剂、合成耐高温的芳香聚酰胺树脂和阻燃纤维。</p>
                <p>项目建设地定远县炉桥镇盐化工业园。</p>
                <p><a href="http://join.deathtothestockphoto.com//">了解更多</a>.</p>
                <br/>
              </div>
        </div>
    </section>
