    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>关于公司</h2>
              <br/>
                <p>这里可以写一些关于公司的简介</p>
                <p>blablabla。。。</p>
                <p>不要太长</p>
                <p>因为详情可以点击这里 <a href="http://join.deathtothestockphoto.com//">了解更多</a>.</p>
                <br/>
              </div>
        </div>
    </section>
