<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>联系我们:</h2>
					<h3>张经理: 13955215159</h3>
					<h3>屈经理: 15056111076</h3>
					<h3>电话: 0550-4034788</h3>
					<h3>地址: 安徽省滁州市定远县盐化工业园</h3>
					<h3>邮箱: gaoshenghg@163.com</h3>
				</div>
				<br>
				<div class="col-lg-6">
              <a href="http://ditu.amap.com/search?query=安徽定远盐化工业园&city=341125" target="_blank">
  						<img src="{{ site.baseurl }}/img/map.png">
					</a>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
