<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>联系我们:</h2>
					<h3>张经理: 13955215159</h3>
					<h3>屈经理: 15056111076</h3>
					<h3>电话: 0550-4034788</h3>
					<h3>地址: 安徽省滁州市定远县盐化工业园</h3>
					<h3>邮箱: gaoshenghg@163.com</h3>
				</div>
				<br>
				<div class="col-lg-6">
              <a href="http://ditu.amap.com/search?query=%E5%AE%89%E5%BE%BD%E9%AB%98%E7%9B%9B%E5%8C%96%E5%B7%A5%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&city=341100&geoobj=117.23485%7C32.535749%7C117.322655%7C32.586603" target="_blank">
  						<img src="{{ site.baseurl }}/img/map.png">
					</a>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
